/* GENERAL */
body {
    background-color: black;
/*    background-image: url("paper.gif");*/
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
}

/* HEADER */
header {
	margin-top: 15px;
	margin-bottom: 25px;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 72px;
}

/* RANDOM NUMBER (SECTION) */
#randomNumberSection {
	display: block;
	height: 85px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
    border: 1px solid #ddd;
}

#randomNumber {
	font-family: 'Lobster', cursive;
	font-size: 72px;
}

/* SCOREBOARD */
#score {
	display: inline-block;
/*	float: left;*/
/*	position: relative;*/
	width: 25%;
	height: 85px;
    border: 1px solid #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
}

	/* STATS */
#stats {
	display: inline-block;
/*	float: left;*/
/*	position: relative;*/
	width: 25%;
	height: 25%;
   	border: 1px solid #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* CRYSTALS */
.crystal {
	height: 150px;
	width: 150px;
}

#crystalsSection {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* INSTRUCTIONS */
#instructions {
	display: block;
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 12px;
}
